{
  "servers" : [
    {
      "port" : "{{zookeeper_jmx_port}}",
      "host" : "{{hostname}}",
      "process": "ZooKeeper",
      "queries" : [
        {
          "obj" : "*"
        }
      ],
      "numQueryThreads" : 2
    }
  ]
}
